!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    link(rel='stylesheet', href=base + '/stylesheets/site.css')
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    
  body   
    header
      div(class='content-wrapper')
          nav
            ul#menu
              li 
                a(href="/") Home
              li 
                a(href="/chat") Chat
              li
                a(href="/vote") Vote
    #body!= body      
    footer
      div(class="content-wrapper")